{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc4be81cad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Django</title>
</head>

<body>

    <header class="page-header">
        <div class="container">
        </div>
    </header>
    <main class="container">

        {% if user.is_authenticated %}
        Hello {{user.username}}
        <br>
        <a href="{% url 'logout' %}">Logout</a>
        {% block content %}
        {% endblock %}
        {%else%}
        <h2>Please Login</h2>
        {% block anon_content %}
        {% endblock anon_content%}
        {% endif%}
    </main>
    <footer>
        <div class="footer">
            <div class="footer__logo">
                <p>&copy; Copyright 2022 </p>
            </div>
            <div class="footer__social">
                <a class="footer__social__item"><i class="fas fa-ambulance"></i></a>
                <a class="footer__social__item"><i class="fas fa-archway"></i></a>
                <a class="footer__social__item"><i class="fas fa-band-aid"></i></i></a>
            </div>
        </div>
    </footer>
</body>

</html>
