{% extends 'core/base.html' %}
{% block content %}

<sector id="blog" class="blog">
    <h1>Welcome to the posts</h1>
    <a class="btn-2" href="{% url 'posts:create' %}">Create a new post</a>
    {% for post, likes, dislikes in results %}
    <div class='blog__item'>
        <div class="blog__item__text">
            <h3>{{post.title}}</h3><br>
            <p>{{ post.content|linebreaksbr }}</p><br>
            <h5>{{likes}} people like this post</h5>
            <h5>{{dislikes}} people dislike this post</h5>
            <button class="btn">
                <h2><a href="{% url 'posts:detail' pk=post.pk %}">Detailed info</a></h2>
            </button>
        </div>
    </div>
    {% endfor %}
</sector>

{% endblock %}
